@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nova+Square&display=swap');
.productsHolder{
    display: flex;
    flex-wrap: wrap;
    gap:0.5rem;
    justify-content: left;
    width:100vw;
    padding: 10px;
}
.sideBar{
    width:100vw;
    position: absolute;
    z-index: 1;
    background: white;
    padding: 1rem;
    box-shadow: 1px 0px 4px 0px black;
}  
.sidebarFilter{
    width: 100%;
    min-height: 100vh;
}
.search-error{
  width: 100%;
  padding:5rem 0;
}
.search-error img{
  width: 16rem;
}
.search-error a{
  text-decoration: none;
  font-weight: bold;
  background: var(--color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px; 
}
.filter-type{
  font-weight: bold;
  margin: 1.5rem;
  text-align: left;
  width: 100%;
  display: inline-block;
  font-family: sans-serif;
}
.sidebarFilter input[type="reset"]{
  cursor: pointer;
  font-size: 1rem;
  background-color: #808080;
  font-weight: bold;
  color: white;
  margin: 1rem;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  text-shadow: 0 1px black;

}
.labels{
  font-size: 0.8rem;
}
/* Media Queries */
@media  (min-width:768px) {
    .sideBar{
        width:30vw;
        position: static;
        /* display: none; */
        z-index: 1;
        background: white;
        padding: 1rem;
    }    
    .productsHolder{
        display: flex;
        flex-wrap: wrap;
        gap:0.5rem;
        justify-content: left;
        width:84vw;
    }
  }
  
  @media screen and (min-width:1024px) {
    .sideBar{
      width:18vw;
      position: static;
      /* display: none; */
      z-index: 1;
      background: white;
      padding: 1rem;
  }
  }
  @media screen and (min-width:1440px) {
    :root {
      --font-size:1.4rem;
    }
  }
  @media screen and (min-width:2560px) {
    :root {
      --navbar-font-size: 5rem;
      --font-size:2.4rem;
      --icons:4rem;
    }
  }
  