.cartCard{
    outline: 1px solid grey;
    display: flex;
    width: fit-content;
    margin: 1rem;
    /* border: 1px solid red; */
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0px 3px 9px;
}
.cartProductDetails{
    width: 20rem;
}
.cartDisplayImage{
    height: 10rem;
    width: 10rem;
}
