*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.App {
  background-color: rgb(240, 242, 245);
  /* background-color: red; */
  text-align: center;
  position: relative;
  min-height: 100vh;
}
.Slider{
  position: relative;
  height:90vh;
  width:100vw;
  background-color:"grey";
  margin:0
}
.Slider::after{
  content:"";
  position:absolute;
  top:20%;
  background: linear-gradient(0deg, #ffffff 0, rgba(255, 255, 255, 0) 30%);
  left:0;
  right:0;
  bottom:0;
  z-index: 0;
}
.sliderBtn{
  position: absolute;
  top:45%;
  padding:2rem 1rem;
  border:none;
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  z-index: 1;
}
.prev{
  border-radius: 0 10px 10px 0;
  left:0;
}
.next{
  border-radius: 10px 0 0 10px;
  right:0;
}
.Slider ul{
    padding:0;
  position: relative;
  display: flex;
  width: 300%;
  height: 100%;
  margin:0;
  transition: all 0.5s;
}
.slides{
  list-style: none;
  width:100vw;
  height: 100%;
  /* position: absolute; */
}
.sliderImages{
  width:100%;
  height: 100%;
}

.Navbar{
  display: flex;
  background-color: burlywood;
  padding:0.5rem 1rem;
  height:8vh;
  justify-content: space-between;
  align-items: center;
  width:100%;
  /* position: fixed;
  top:0;
  left:0; */
  z-index: 2;
  
}
.categoryContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.categoryContainer a{
text-decoration: none;
}
.categoryContainer li{
  list-style: none;
  margin:0.5rem;
}
.categoryType{
  display: block;
  text-decoration: none;
}
.categoryIcon{
  height:8rem;
  border-radius: 50%;
}
/* Products Card */
.card{
  list-style: none;
}
.card a{
  text-decoration: none;
  color:black;
}
.productCard{
width:12rem;
min-height: 15rem;
border-radius: 0.5rem;
position: relative;
transition: all 0.1s;
padding:0.5rem;
background-color: white;
}

.productCard:hover{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8)
}
.productImage{
  width:90%;
  height:9rem;
}
.productTitle{
  white-space: nowrap; 
  width:100%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin:auto;
  padding:0 0.4rem;
  color: black;
  font-weight: bolder;
}
.productPrice{
  margin: 0.5rem auto;
}
.discountOnCard,.prices{
  margin:0;
  text-align: left;
}
.priceOnCard,.offeredPrice{
  margin:3px;
}
.priceOnCard{
  text-decoration: line-through;
  color: grey;
}
.discountOnCard{
  color:rgb(53, 174, 26);
  font-weight: bold;
}
.cardBottom{
  padding:0.5rem;
}
.cartBtn{
  width:90%;
  border:none;
  background-color: grey;
  color:white;
  padding:0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.likeButton{
  border-radius: 50%;
  border:none;
  background-color: white;
  padding:0.3rem 0.4rem;
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2),0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top:0;
  right: 0;
}
.likes{
  width:1rem;
  height: 1rem;
}
::-webkit-scrollbar{
  display: none;

}