*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.App {
  text-align: center;
  position: relative;
  min-height: 100vhl
}
.Navbar{
  display: flex;
  background-color: burlywood;
  padding:0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
}
.categoryContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.categoryContainer a{
text-decoration: none;
}
.categoryContainer li{
  list-style: none;
  margin:0.5rem;
}
.categoryType{
  display: block;
  text-decoration: none;
}
.categoryIcon{
  height:8rem;
  border-radius: 50%;
}
/* Products Card */
.card{
  list-style: none;
}
.card a{
  text-decoration: none;
  color:black;
}
.productCard{
width:12rem;
min-height: 15rem;
border-radius: 0.5rem;
position: relative;
transition: all 0.1s;
padding:0.5rem;
}

.productCard:hover{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.productImage{
  width:90%;
  height:9rem;
}
.productTitle{
  white-space: nowrap; 
  width:100%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin:auto;
  padding:0 0.4rem;
  color: black;
  font-weight: bolder;
}
.productPrice{
  margin: 0.5rem auto;
}
.discountOnCard,.prices{
  margin:0;
  text-align: left;
}
.priceOnCard,.offeredPrice{
  margin:3px;
}
.priceOnCard{
  text-decoration: line-through;
  color: grey;
}
.discountOnCard{
  color:rgb(53, 174, 26);
  font-weight: bold;
}
.cardBottom{
  padding:0.5rem;
}
.cartBtn{
  width:90%;
  border:none;
  background-color: grey;
  color:white;
  padding:0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}